BOT_TOKEN=8696029869:AAET9de-S9YUgSukixrFiExa8X4YUE37Y_k
API_BASE_URL=http://localhost:5149
API_GRPC_ADDRESS=localhost:5149
TGIFTS_GRPC_ADDRESS=localhost:50051
GRPC_TIMEOUT_SECONDS=60
API_KEY=
TELEGRAM_PROXY=
CHANNEL_USERNAME=LooksRatingBotOfficial
CHANNEL_URL=https://t.me/LooksRatingBotOfficial
CHANNEL_PROMO_INTERVAL_SECONDS=60
CHANNEL_PROMO_PAGE_SIZE=100
CHANNEL_PROMO_SEND_DELAY_SECONDS=0.05
CHANNEL_PROMO_ENABLED=true
